SOFI_HOSTNAME=sofi.localhost
SOFI_PORT=8080
SOFI_SCHEME=http

# Postgres configuration
PG_USER=pguser
PG_SECRET=secret
SSL_MODE=disable

# Hydra configuration
LOG_LEAK_SENSITIVE_VALUES=true
SECRETS_SYSTEM=youReallyNeedToChangeThis
HYDRA_ADMIN_PORT=4445
TTL_ACCESS_TOKEN=1h
TTL_REFRESH_TOKEN=720h

# Kratos configuration
COURIER_SMTP_CONNECTION_URI=smtps://test:test@mailslurper:1025/?skip_ssl_verify=true

# OAuth2 Configuration
SOFI_CLIENT_ID=SOFI_APP
