{
    auto_https off
    log {
        format json
    }
}

{$SOFI_HOSTNAME} {
    tls /etc/sofi.crt /etc/sofi.pem
    log

    @localrequest {
        remote_ip 127.0.0.1 172.18.0.0/24
    }

    route /api/* {
        reverse_proxy sap_api:6000
    }

    route /auth/* {        
        header X-Forwarded-Proto https
        reverse_proxy keycloak:8080
    }

    route /mock/* {
        uri strip_prefix /mock
        reverse_proxy mocks:4099
    }

    route /* {
        reverse_proxy sap_app:3333
    }
}

dev2.sofi-platform.dk {
    tls /etc/sofi.crt /etc/sofi.pem
    log

    route /* {
        reverse_proxy microreact:3000
    }   
}