:80, :443 {

    route /api/* {
        reverse_proxy sap_api:6000
    }

    route /ory/* {
        uri strip_prefix /ory
        reverse_proxy kratos-selfservice-ui-node:3000
    }

    route /ory/.ory {
        uri strip_prefix /ory
        reverse_proxy kratos-selfservice-ui-node:3000
    }

    route /.hydra/* {
        uri strip_prefix /.hydra
        reverse_proxy hydra:4444
    }

    route /.ory/* {
        reverse_proxy kratos-selfservice-ui-node:3000
    }

    route /mock/* {
        uri strip_prefix /mock
        reverse_proxy mocks:4099
    }

    route /* {
        reverse_proxy sap_app:3333
    }
}