{
    auto_https off
}

{$SOFI_HOSTNAME} {
    tls /etc/sofi.crt /etc/sofi.pem

    @localrequest {
        remote_ip 127.0.0.1 172.18.0.0/24
    }

    route /api/* {
        reverse_proxy sap_api:6000
    }

    route /.ory/kratos/public/* {
        uri strip_prefix /.ory/kratos/public
        reverse_proxy kratos:4433
    }

    route /.ory/kratos/public/self-service/registration/* {
        uri strip_prefix /.ory/kratos/public
        reverse_proxy @localrequest kratos:4433
    }

    route /ss/* {
        uri strip_prefix /ss
        reverse_proxy auth-selfservice-ui:3000
    }

    route /.ory/hydra/public/* {
        uri strip_prefix /.ory/hydra/public
        header X-Forwarded-Proto https
        reverse_proxy hydra:4444
    }

    route /oauth2/* {
        header X-Forwarded-Proto https
        reverse_proxy hydra:4444
    }

    route /.well-known/* {
        header X-Forwarded-Proto https
        reverse_proxy hydra:4444
    }

    route /mock/* {
        uri strip_prefix /mock
        reverse_proxy mocks:4099
    }

    route /* {
        reverse_proxy sap_app:3333
    }
}