# /etc/systemd/system/sofi.service

[Unit]
Description=SOFI Service
Requires=docker.service
After=docker.service

[Service]
Restart=always

# Remove old containers
ExecStartPre=/usr/bin/docker-compose down -v
ExecStartPre=/usr/bin/docker-compose rm -fv

WorkingDirectory=/opt/sofi

ExecStart=/usr/local/bin/docker-compose -f /opt/sofi/docker-compose.yml -f /opt/sofi/docker-compose.live.yml up
ExecStop=/usr/local/bin/docker-compose -f /opt/sofi/docker-compose.yml -f /opt/sofi/docker-compose.live.yml down -v

[Install]
WantedBy=multi-user.target