.sofi-data-table {
  display: block;
  max-width: 100%;
}

div[role="table"] {
  border-spacing: 0;
}

div[role="row"] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

div[role="row"]:last-child td {
  border-bottom: 0;
}

div[role="rowgroup"] {
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  width: 100%;
}

div[role="separator"] {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  width: 1ch;
  height: 100%;
}

[role="columnheader"] {
  padding-left: 1ch;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  border-right: 2px solid rgba(0, 0, 0, 0.05);
  height: 100%;
  user-select: none;
  /* general cell style */
  width: 1%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
  text-align: left;
  text-overflow: ellipsis;
}

/* "collapsed" cells should be as small as possible */
[role="columnheader"].collapse {
  width: 0.0000000001%;
}

div[role="cell"] {
  /* general cell style */
  width: 1%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
  text-align: left;
  text-overflow: ellipsis;
}

.sofi-data-table .tableWrap {
  display: block;
  width: 100%;
}

/* Fix for header overflow ellipsis */
div[role="columnheader"] div[role="tab"] {
    width: 100%
}

div[role="columnheader"] div[role="tab"] div {
    width: calc(100% - 22px)
}
div[role="columnheader"] div[role="tab"] span {
    display: inline-block;
    width: 100%;
}